
:root {
    /* Weight */
    --we-bold: 700;
    --we-semi_bold: 600;
    --we-medium: 500;
    --we-normal: 400;

    /* Size */
        /* Text */
        --si-medium: 18px;
        --si-normal: 16px;
        --si-small: 14px;
        --si-tiny: 12px;

        /* Headings */
        --si-he-h1: 56px;
        --si-he-h2: 48px;
        --si-he-h3: 40px;
        --si-he-h4: 32px;
        --si-he-h5: 24px;
        --si-he-h6: 20px;

    /* Colors */
        /* Background */
        --co-ba-page_content-l1: #171717;
        --co-ba-page_content-l2: #1E1E1E;
        --co-ba-header: #171717;
        --co-ba-hamburger_menu: #242424;
        --co-bo-dropdown: #242424;

        /* Text */
        --co-te-primary: #ffffff;
        --co-te-subtext: #8B8B8B;

        /* Theme */
        --co-th-primary: #01A3FF;
        
        /* Sematic */
        --co-se-success: #4dff40;
        --co-se-error: #ff2c2c;
        --co-se-caution: #ffff6d;
        --co-se-neutral: #8B8B8B;

    /* Other */
    --bo-ra: 6px; /* Border radius */
    --tr-ti: 0.3s; /* Transition time */
}

/* Default styles */
* {
    font-family: 'Outfit';

    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--co-ba-page_content-l1);
}

/* Auto layout */
    /* Root */
    .al-el {
        padding: var(--al-vp) var(--al-hp);
        gap: var(--al-eg);

        display: flex;
    }

    /* Direction */
    .al-d-row { flex-direction: row; }
    .al-d-column { flex-direction: column; }

    /* Reset variables */
    .al-r {
        --al-eg: 0;
        --al-vp: 0;
        --al-hp: 0;
    }

    /* Presets  */
    .al-a-center {
        align-items: center;
        justify-content: center;
    }

    /* Child presets */
    .al-spacer {
        flex-grow: 1;
    }

    /* Wrap */
    .al-w-wrap {
        flex-wrap: wrap;
    }

    /* Row alignment */
    .al-d-row.al-a-left {
        justify-content: flex-start;
    }

    .al-d-row.al-a-right {
        justify-content: flex-end;
    }

    .al-d-row.al-a-center_h {
        justify-content: center;
    }

    .al-d-row.al-a-top {
        align-items: flex-start;
    }

    .al-d-row.al-a-bottom {
        align-items: flex-end;
    }

    .al-d-row.al-a-center_v {
        align-items: center;
    }

    /* Column alignment */
    .al-d-column.al-a-left {
        align-items: flex-start;
    }

    .al-d-column.al-a-right {
        align-items: flex-end;
    }

    .al-d-column.al-a-center_h {
        align-items: center;
    }

    .al-d-column.al-a-top {
        justify-content: flex-start;
    }

    .al-d-column.al-a-bottom {
        justify-content: flex-end;
    }

    .al-d-column.al-a-center_v {
        justify-content: center;
    }

/* Typography */
    /* Text */
    .te-title-description,.te-page-content,.te-page-keyword,.te-footer-content,.te-footer-keyword,.te-small_print-content,.te-small_print-keyword,.te-input-content {
        line-height: 150%;
    }

    .te-title-description {
        font-size: var(--si-medium);
        font-weight: var(--we-normal);
    }
    
    .te-page-content {
        font-size: var(--si-normal);
        font-weight: var(--we-normal);
    }
    
    .te-page-keyword {
        font-size: var(--si-normal);
        font-weight: var(--we-semi_bold);
    }
    
    .te-footer-content {
        font-size: var(--si-small);
        font-weight: var(--we-normal);
    }
    
    .te-footer-keyword {
        font-size: var(--si-small);
        font-weight: var(--we-semi_bold);
    }
    
    .te-small_print-content {
        font-size: var(--si-tiny);
        font-weight: var(--we-normal);
    }
    
    .te-small_print-keyword {
        font-size: var(--si-tiny);
        font-weight: var(--we-semi_bold);
    }
    
    .te-input-content {
        font-size: var(--si-normal);
        font-weight: var(--we-medium);
    }

    /* Headings */
    h1,h2,h3,h4,h5,h6 {
        line-height: 120%;
        font-weight: var(--we-bold);
    }

    h1 {
        font-size: var(--si-he-h1);
    }

    h2 {
        font-size: var(--si-he-h2);
    }

    h3 {
        font-size: var(--si-he-h3);
    }

    h4 {
        font-size: var(--si-he-h4);
    }

    h5 {
        font-size: var(--si-he-h5);
    }

    h6 {
        font-size: var(--si-he-h6);
    }

/* Overflow */
.of-e {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Preset elements */
    /* Widths */
    .input-w-300 { width: 300px; }
    .input-w-125 { width: 125px; }

    /* Inputs */
        /* Buttons */
            .btn-clear {
                background-color: transparent;

                border: none;
                border-radius: var(--bo-ra);

                cursor: pointer;

                transition: var(--tr-ti);
            }

            .btn-full {
                border: none;
                border-radius: var(--bo-ra);

                cursor: pointer;

                transition: var(--tr-ti);
            }

            .btn-submit {
                border: none;
                border-radius: var(--bo-ra);

                padding: 12px 60px;

                cursor: pointer;

                width: fit-content;

                background-color: var(--co-th-primary);
                color: var(--co-te-primary);
            }

            .btn-submit:disabled {
                background-color: var(--co-se-neutral);
                cursor: not-allowed;
            }
    
        /* String field */
            .str_field-basic {
                background-color: transparent;

                padding: 5px;

                border-width: 2px;
                border-style: solid;
                border-color: var(--co-te-primary);
                border-radius: var(--bo-ra);

                color: var(--co-te-primary);

                transition: var(--tr-ti);
            }

            .str_field-basic:focus {
                border-color: var(--co-th-primary);
                outline: none;
            }

            .str_field-basic:disabled {
                cursor: not-allowed;
                border-color: var(--co-se-neutral);
            }

            .str_field-basic[data-state=success] { border-color: var(--co-se-success); }
            .str_field-basic[data-state=error] { border-color: var(--co-se-error); }

        /* Select field */
        .sel_field-basic {
            background-color: transparent;

            padding: 5px;

            border-width: 2px;
            border-style: solid;
            border-color: var(--co-te-primary);
            border-radius: var(--bo-ra);

            color: var(--co-te-primary);

            transition: var(--tr-ti);
        }

        .sel_field-basic:focus {
            border-color: var(--co-th-primary);
            outline: none;
        }

        .sel_field-basic:disabled {
            cursor: not-allowed;
            border-color: var(--co-se-neutral);
        }

        .sel_field-basic[data-state=success] { border-color: var(--co-se-success); }
        .sel_field-basic[data-state=error] { border-color: var(--co-se-error); }

        .sel_field-basic option {
            background-color: var(--co-bo-dropdown);
        }

    /* Data controlled */
    *[data-visible=false] {
        display: none;
    }